In [ ]:
#task 1(a)

def factorial(n):

  if (n == 1) or ( n == 0) :

    return 1

  else:

    return n * factorial(n-1)

function_call = factorial(5)

print(function_call)

120

In [ ]:
#task 1(b)

def fibonacci(n):

  if (n == 0) or (n == 1):
    return n

  else:
    return fibonacci(n-1) + fibonacci(n-2)

function_call = fibonacci(7)

print(function_call)

13

In [ ]:
#task 1(c)

import numpy as np

def array_printer(arr, i):

  n = len(arr)

  if i + 1 == n:
    print(arr[i])

  else:
    print(arr[i])
    array_printer(arr, i+1)

array = np.array([1, 2, 3, 4, 5])

function_call = array_printer(array, 0)

1
2
3
4
5

In [ ]:
#task 1(d)

def powerN(base, power):

  if (power == 0):
    return 1

  else:
    return base* powerN(base, power-1)

function_call = powerN(5, 4)

print(function_call)

625

In [ ]:
#task 2(a)

def decimal_to_binary_converter(decimal_number):

  if ( decimal_number // 2 ) == 0:

    return str( decimal_number % 2 )

  else:
    return str( decimal_to_binary_converter( decimal_number // 2) ) + str (decimal_number % 2)

function_call = decimal_to_binary_converter(14)

print(function_call)

100

In [ ]:
#task 2(b)

class Node:
  def __init__(self,elem,next = None):
    self.elem, self.next = elem,next

class LinkedList:

  def __init__(self,arr):
    self.head = Node(arr[0])
    tail = self.head
    for i in range(1,len(arr)):
      newNode = Node(arr[i])
      tail.next = newNode
      tail = newNode

l1 = LinkedList(np.array( [ 10, 34, 21, 6, -2 ] ))

def sum_in_linked_list(current_node):

  if current_node.next is None:
    return current_node.elem

  else:
    return current_node.elem + sum_in_linked_list(current_node.next)

function_call = sum_in_linked_list(l1.head)

print(function_call)

69

In [ ]:
#task 2(c)

import numpy as np

class Node:
  def __init__(self,elem,next = None):
    self.elem, self.next = elem,next

class LinkedList:

  def __init__(self,arr):
    self.head = Node(arr[0])
    tail = self.head
    for i in range(1,len(arr)):
      newNode = Node(arr[i])
      tail.next = newNode
      tail = newNode

l1 = LinkedList(np.array([10, 20, 30, 40]))

def linked_list_print_in_reverse( current_node ) :

  if current_node.next is None:

    return current_node.elem

  else:

    result = str( linked_list_print_in_reverse(current_node.next) )  + "\n" + str(current_node.elem )

    return result

function_call = linked_list_print_in_reverse(l1.head)

print( function_call )

40
30
20
10

In [ ]:
#task 3

def hocBuilder(height):

  if height==0:
    return 0

  elif height==1:
    return 8

  else:
    return 5 + hocBuilder(height-1)

print(hocBuilder(3))

18

In [ ]:
#task 4(a)

def printblock(row, i=0, count=0 ):

  if i==row:
    return None

  else:

    if count<i:
      print(count+1,end="")
      return printblock(row,i,count+1)

    else:

      print(count+1)
      return printblock(row,i+1,0)
printblock(5)

1
12
123
1234
12345

In [ ]:
#task 4(b)

def printblock(row, i=0, count=0):

  if i==row:
    return None

  else:

    if count == 0:

      if i == 0:

        print(" "*(row-i),count+1)
        return printblock(row,i+1,0)

      else:

        print(" "*(row-i),count+1,end="")
        return printblock(row,i,count+1)

    elif count < i:

      print(count+1,end="")
      return printblock(row,i,count+1)

    else:

      print(count+1)
      return printblock(row,i+1,0)

printblock(5)

      1
     12
    123
   1234
  12345

In [ ]:
#task 5

import sys
sys.setrecursionlimit(10000)

class FinalQ:

 def print(self, array, idx):

    if(idx<len(array)):
      profit = self.calcProfit(array[idx])

      print("Investment:",array[idx],"; Profit:",profit)
      return FinalQ.print(self,array,idx+1)

    else:
      return None

 def calcProfit(self, investment):

    total=0.0

    if investment<=100000:

      total+=(investment-25000)/(100/4.5)

    else:

      total+=75000/(100/4.5)
      total+=(investment-100000)/(100/8)

    return total


array=[25000,100000,250000,350000]

function_call = FinalQ()
function_call.print( array, 0)

Investment: 25000 ; Profit: 0.0
Investment: 100000 ; Profit: 3375.0
Investment: 250000 ; Profit: 15375.0
Investment: 350000 ; Profit: 23375.0

In [ ]:
# MUST FINISH Recursion Task Lab

given_list = [ 1, [2, [3, [4], 5], 6], 7, 8, [9, [[10, 11], 12], 13], 14, [15, [16, [17]]] ]


def flattenList( given_list, output_list ):

  if len( given_list ) == 0:

    return output_list

  else:

    if type( given_list[0] ) is list:

      flattenList( given_list[0], output_list )

      given_list = given_list[1::]

      return flattenList( given_list, output_list )

    else:

      output_list.append( given_list[0] )

      return flattenList( given_list[1::], output_list )

output_list = flattenList(given_list, []) # Initial empty list is sent for update

print(output_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]